[Unit]
Description=EDIE8 Volume Control Service
After=edie8_speaker_gpio.service

[Service]
ExecStart=/home/vraptor/ros2_ws/src/edie8/edie_system_setting/shellscript/edie8_volume_control.sh
Restart=on-failure
RestartSec=10s
Environment="DISPLAY=:0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
