pipdeptree==2.9.3
dlib==19.24.2

scikit-image==0.21.0
pillow==10.0.0

#protobuf==4.23.4

#opencv-python-headless==4.8.0.74  # 이 예제에서는 cv highgui를 사용하지 않기에 이것으로 사용하여도 문제 없음
opencv-python==4.8.0.74 # cv2 간혹 highgui를 사용하거나 ide 자동 완성을 위해서라면 이쪽을 선택
numpy==1.24.4 #ubuntu22.04 버전 사용시 버전지우고 설치

packaging~=23.1
absl-py==1.4.0
astunparse==1.6.3
cachetools==5.3.1
certifi==2023.7.22
flatbuffers==23.5.26
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
h5py==3.9.0
importlib-metadata==6.8.0
jax==0.4.13
jsonpatch==1.33
jsonpointer==2.4
keras==2.12.0
libclang==16.0.6
markdown==3.4.4
ml-dtypes==0.2.0
oauthlib==3.2.2
opencv-python==4.8.0.74
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pipdeptree==2.9.3
protobuf==4.24.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytz==2023.3.post1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.10.1
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
torchsampler==0.1.2
tqdm==4.66.1
typing-extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
visdom==0.2.4
websocket-client==1.6.3
werkzeug==2.3.7
wrapt==1.14.1
zipp==3.16.2
